html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #404242;

  background-position: top center;
  background-repeat: no-repeat;
}

.header h1 {
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
  color: #58a9a5;
}

a {
  text-decoration: none;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a {
  font-weight: bold;

  color: #58a9a5;
}

.site-navigation a:hover {
  color: #63ddd7;
}

.site-navigation a:visited {
  color: #94a8a7;
}

.user-navigation a {
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;

  color: #58A9A54;
}

.button a {
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;

  color: #ffffff;
}

.button {
  text-align: center;
  width: 271px;
  height: 80px;
  background: #58a9a5;
  border-radius: 15px;
}

.button:hover {
  background: #63ddd7;
}
